# Root is a reserved name,
root:
  format: simple
  write:
    - stderr
  level: debug

# Define a new logged called 'custom_package' that logs
# debug level to a specific file
custom_package:
  source: "kuvio.formatters"
  format: json
  write:
    - file:
        name: custom_log.json
  level: debug

# Disable log messages from a third party package
disable_deps:
  source: "requests"
  state: disabled
  extra: hejlkasdlaksjd laasdas asas asd  asdsa
  foobar: as asdsadsxxx asdsdadasdas
